package {{.PackageName}}

import "context"

type {{.Class "repository_impl"}} struct{}

func New{{.Class "repository"}}() {{.Class "repository"}} {
	return &{{.Class "repository_impl"}}{}
}

func (r *{{.Class "repository_impl"}}) FindByID(ctx context.Context, id string) (*{{.Class "response"}}, error) {
	// TODO: implement
	return nil, nil
}
