package {{.PackageName}}

import "context"

type {{.PascalName}}{{index .Suffixes "repository"}}Impl struct{}

func New{{.PascalName}}{{index .Suffixes "repository"}}() {{.PascalName}}{{index .Suffixes "repository"}} {
	return &{{.PascalName}}{{index .Suffixes "repository"}}Impl{}
}

func (r *{{.PascalName}}{{index .Suffixes "repository"}}Impl) FindByID(ctx context.Context, id string) (*{{.PascalName}}Response, error) {
	// TODO: implement
	return nil, nil
}
