package {{.PackageName}}

import "context"

type {{.Class "service"}} interface {
	Get(ctx context.Context, req *{{.Class "request"}}) (*{{.Class "response"}}, error)
}

type {{.Class "service"}}Impl struct {
	repo {{.Class "repository"}}
}

func New{{.Class "service"}}(repo {{.Class "repository"}}) {{.Class "service"}} {
	return &{{.Class "service"}}Impl{repo: repo}
}

func (s *{{.Class "service"}}Impl) Get(ctx context.Context, req *{{.Class "request"}}) (*{{.Class "response"}}, error) {
	return s.repo.FindByID(ctx, req.ID)
}
