package {{.PackageName}}

import "context"

type {{.PascalName}}{{index .Suffixes "service"}} interface {
	Get(ctx context.Context, req *{{.PascalName}}Request) (*{{.PascalName}}Response, error)
}

type {{.PascalName}}{{index .Suffixes "service"}}Impl struct {
	repo {{.PascalName}}{{index .Suffixes "repository"}}
}

func New{{.PascalName}}{{index .Suffixes "service"}}(repo {{.PascalName}}{{index .Suffixes "repository"}}) {{.PascalName}}{{index .Suffixes "service"}} {
	return &{{.PascalName}}{{index .Suffixes "service"}}Impl{repo: repo}
}

func (s *{{.PascalName}}{{index .Suffixes "service"}}Impl) Get(ctx context.Context, req *{{.PascalName}}Request) (*{{.PascalName}}Response, error) {
	return s.repo.FindByID(ctx, req.ID)
}
