{{- with .CommonImportAny "flutter_bloc" "bloc"}}
import '{{.}}';
{{- else}}
import 'package:flutter_bloc/flutter_bloc.dart';
{{- end}}
{{- $bloc := .Role "bloc"}}
{{- range $bloc.BaseImports}}
import '{{.}}';
{{- end}}
{{- with .Import "usecase"}}
import '{{.}}';
{{- end}}

part '{{.File "event"}}';
part '{{.File "state"}}';

class {{.Class "bloc"}} extends {{if $bloc.BaseClass}}{{$bloc.BaseClass}}<{{.Class "event"}}, {{.Class "state"}}>{{else}}Bloc<{{.Class "event"}}, {{.Class "state"}}>{{end}} {
  {{.Class "bloc"}}({{with .Import "usecase"}}this._{{$.Var "usecase"}}{{end}}) : super(const {{.PascalName}}Initial()) {
    on<{{.PascalName}}Started>(_onStarted);
  }
{{with .Import "usecase"}}
  final {{$.Class "usecase"}} _{{$.Var "usecase"}};
{{end}}
  Future<void> _onStarted(
    {{.PascalName}}Started event,
    Emitter<{{.Class "state"}}> emit,
  ) async {
    emit(const {{.PascalName}}Loading());
    // TODO: implement
    emit(const {{.PascalName}}Loaded());
  }
{{range $bloc.AbstractStubs}}
  @override
  {{.}}
{{end}}}
