import 'package:flutter_bloc/flutter_bloc.dart';
{{- range .BlocBaseImports}}
import '{{.}}';
{{- end}}
{{- if .UsecaseImport}}
import '{{.UsecaseImport}}';
{{- end}}

part '{{.SnakeName}}_event.dart';
part '{{.SnakeName}}_state.dart';

class {{.PascalName}}{{.BlocSuffix}} extends {{if .BlocBaseClass}}{{.BlocBaseClass}}<{{.PascalName}}{{.EventSuffix}}, {{.PascalName}}{{.StateSuffix}}>{{else}}Bloc<{{.PascalName}}{{.EventSuffix}}, {{.PascalName}}{{.StateSuffix}}>{{end}} {
  {{.PascalName}}{{.BlocSuffix}}(this._{{.CamelName}}{{.UsecaseSuffix}}) : super(const {{.PascalName}}Initial()) {
    on<{{.PascalName}}Started>(_onStarted);
  }

  final {{.PascalName}}{{.UsecaseSuffix}} _{{.CamelName}}{{.UsecaseSuffix}};

  Future<void> _onStarted(
    {{.PascalName}}Started event,
    Emitter<{{.PascalName}}{{.StateSuffix}}> emit,
  ) async {
    emit(const {{.PascalName}}Loading());
    // TODO: implement
    emit(const {{.PascalName}}Loaded());
  }
}
