part of '{{.SnakeName}}_bloc.dart';

sealed class {{.PascalName}}{{index .Suffixes "event"}} {
  const {{.PascalName}}{{index .Suffixes "event"}}();
}

final class {{.PascalName}}Started extends {{.PascalName}}{{index .Suffixes "event"}} {
  const {{.PascalName}}Started();
}
