import '{{index .Imports "repository"}}';
import '{{index .Imports "request"}}';
import '{{index .Imports "response"}}';

class {{.PascalName}}{{index .Suffixes "repository"}}Impl implements {{.PascalName}}{{index .Suffixes "repository"}} {
  const {{.PascalName}}{{index .Suffixes "repository"}}Impl();

  @override
  Future<{{.PascalName}}Response> fetch({{.PascalName}}Request request) async {
    // TODO: implement
    throw UnimplementedError();
  }
}
