import '{{index .Imports "repository"}}';
import '{{index .Imports "request"}}';
import '{{index .Imports "response"}}';

class {{.PascalName}}{{.RepositorySuffix}}Impl implements {{.PascalName}}{{.RepositorySuffix}} {
  const {{.PascalName}}{{.RepositorySuffix}}Impl();

  @override
  Future<{{.PascalName}}Response> fetch({{.PascalName}}Request request) async {
    // TODO: implement
    throw UnimplementedError();
  }
}
