import '{{index .Imports "request"}}';
import '{{index .Imports "response"}}';

abstract class {{.PascalName}}{{index .Suffixes "repository"}} {
  Future<{{.PascalName}}Response> fetch({{.PascalName}}Request request);
}
