import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
{{- $screen := index .Roles "screen"}}
{{- range $screen.BaseImports}}
import '{{.}}';
{{- end}}

{{- with index .Imports "bloc"}}import '{{.}}';{{end}}

class {{.PascalName}}{{index .Suffixes "screen"}} extends {{if $screen.BaseClass}}{{$screen.BaseClass}}{{else}}StatefulWidget{{end}} {
  const {{.PascalName}}{{index .Suffixes "screen"}}({super.key});

  @override
  {{if $screen.StateBaseClass}}{{$screen.StateBaseClass}}<{{.PascalName}}{{index .Suffixes "screen"}}>{{else}}State<{{.PascalName}}{{index .Suffixes "screen"}}>{{end}} createState() => _{{.PascalName}}{{index .Suffixes "screen"}}State();
}

class _{{.PascalName}}{{index .Suffixes "screen"}}State extends {{if $screen.StateBaseClass}}{{$screen.StateBaseClass}}<{{.PascalName}}{{index .Suffixes "screen"}}>{{else}}State<{{.PascalName}}{{index .Suffixes "screen"}}>{{end}} {
  @override
  void initState() {
    super.initState();
    context.read<{{.PascalName}}{{index .Suffixes "bloc"}}>().add(const {{.PascalName}}Started());
  }

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(title: const Text('{{.PascalName}}')),
      body: BlocBuilder<{{.PascalName}}{{index .Suffixes "bloc"}}, {{.PascalName}}{{index .Suffixes "state"}}>(
        builder: (context, state) {
          return switch (state) {
            {{.PascalName}}Initial() => const SizedBox.shrink(),
            {{.PascalName}}Loading() => const Center(child: CircularProgressIndicator()),
            {{.PascalName}}Loaded() => const Center(child: Text('{{.PascalName}}')),
            {{.PascalName}}Error(:final message) => Center(child: Text(message)),
          };
        },
      ),
    );
  }
}
