part of '{{.File "bloc"}}';

sealed class {{.Class "state"}} {
  const {{.Class "state"}}();
}

final class {{.PascalName}}Initial extends {{.Class "state"}} {
  const {{.PascalName}}Initial();
}

final class {{.PascalName}}Loading extends {{.Class "state"}} {
  const {{.PascalName}}Loading();
}

final class {{.PascalName}}Loaded extends {{.Class "state"}} {
  const {{.PascalName}}Loaded();
}

final class {{.PascalName}}Error extends {{.Class "state"}} {
  const {{.PascalName}}Error(this.message);
  final String message;
}
