import '{{.RepositoryImport}}';
import '{{.RequestImport}}';
import '{{.ResponseImport}}';

class {{.PascalName}}{{.UsecaseSuffix}} {
  const {{.PascalName}}{{.UsecaseSuffix}}(this._repository);

  final {{.PascalName}}{{.RepositorySuffix}} _repository;

  Future<{{.PascalName}}Response> call({{.PascalName}}Request request) {
    return _repository.fetch(request);
  }
}
