import '{{.Import "repository"}}';
import '{{.Import "request"}}';
import '{{.Import "response"}}';

class {{.Class "usecase"}} {
  const {{.Class "usecase"}}(this._repository);

  final {{.Class "repository"}} _repository;

  Future<{{.Class "response"}}> call({{.Class "request"}} request) {
    return _repository.fetch(request);
  }
}
