import '{{index .Imports "repository"}}';
import '{{index .Imports "request"}}';
import '{{index .Imports "response"}}';

class {{.PascalName}}{{index .Suffixes "usecase"}} {
  const {{.PascalName}}{{index .Suffixes "usecase"}}(this._repository);

  final {{.PascalName}}{{index .Suffixes "repository"}} _repository;

  Future<{{.PascalName}}Response> call({{.PascalName}}Request request) {
    return _repository.fetch(request);
  }
}
